.signup{
    text-align: center;
    color:rgb(171, 231, 82);
    font-family:Arial, Helvetica, sans-serif
}

.signup_body{
    color:rgb(254, 254, 165);
    border-radius:5px;
}

.signup_inner{
    padding:20px;
}

.signup_button{
    display:flex;
    justify-content: center;
    align-items: center;
}

#register_footer{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    color:wheat;
}